.my-nav {
    margin: 0 auto;
    padding: 0;
    width: 95%;
}


.top-nav {
    display: flex;
    background: #f72210;
    color: white;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

.my-branding {
    display: flex;
    font-size: 70px;
    justify-content: center;
    font-family: 'Hepta Slab', serif;
    font-weight: 700;
    letter-spacing: -2px;
    cursor: pointer;
}

.members-sign {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.members-signin{
    color: white;
    font-weight: bold;
}

.members-signin:hover {
    color: white;
    text-decoration: none;
}

.members-subs {
    color: #f72210;
    background: white;
    margin-left: 10px;
    padding: 2px 10px;
    font-weight: bold;
    width: fit-content;
}

.members-subs:hover {
    color: #f72210;
    text-decoration: none;
}

.fa-bars {
    display: none;
}


.lower-nav {
    display: flex;
    background: white;
    border-bottom: 1px solid rgba(128, 128, 128, 0.294);
    font-weight: bold;
    align-items: center;
    width: 100%;
    height: 55px;
    position: relative;
    top: -0.7rem;
    clip-path: polygon(93% 0, 94% 20%, 100% 20%, 100% 100%, 0 100%, 0 61%, 0 0);
}

.lower-nav-navs {
    display: flex;
    width: 90%;
}

.lower-nav-items {
    display: flex;
    flex: 1;
    border-right: 0.5px solid rgba(128, 128, 128, 0.294);
    justify-content: center;
    color: black;
}

.lower-nav-items:hover {
    text-decoration: none;
    color: #f72210;
}

.lower-nav-tech {
    flex: 1.4;
    padding: 0 10px;
}

.lower-nav-last {
    display: flex;
    color: black;
}

.lower-nav-last:hover{
    color: #f72210;
    text-decoration: none;
}

.search {
    color: rgba(51, 51, 51, 0.376);
    display: flex;
    flex: 1;
    justify-content: flex-end;
    margin-left: 20px;
    font-weight: 100;
    align-items: center;
}

.search:hover {
    cursor: text;
    color: rgba(51, 51, 51, 0.376);
    cursor: text;
}

.fa-search {
    color: #333;
    cursor: default;
    margin-left: 10px;
    font-size: 1.05em;
}

@media(max-width:991px) {
    .my-nav {
        width: 100%;
        margin-bottom: 20px;
    }

    .my-branding {
        font-size: 30px;
        justify-content: flex-start;
    }
    
    .fa-bars {
        display: flex;
        margin-left: 10px;
        color: #fb9a94;
        font-size: 100%;
        cursor: pointer;
    }

    .top-nav-date {
        display: none;
    }
    
    .lower-nav {
        display: none;
    }
}




/* MAIN */
.main {
    width: 95%;
    margin: 0 auto;
    padding: 0;
}

.col-heading {
    color: rgba(51, 51, 51, 0.507);
    font-weight: bold;
}

.my-first-col .col-12 {
    padding-left: 0;
}

.my-first-col .row {
    width: 100%;
}

.first-col-img {
    width: 100%;
    height: auto;
    cursor: pointer;
}

.first-col-header {
    font-size: 1.2em;
    font-weight: bold;
    margin: 0;
    color: black;
}

.first-col-header:hover {
    color: black;
    text-decoration: underline 1px #f72210;
}

.first-col-text {
    font-size: 0.8em;
    margin: 0;
}

.my-left-art {
    margin-bottom: 15px;
}

/* .my-second-col {
    margin: 0 30px;
} */

.second-col-img {
    width: 100%;
    height: auto;
    cursor: pointer;
}

.my-top-story {
    margin-bottom: 5%;
}

.heroes-grid {
    /* width: 100%; */
    /* display: grid; */
    /* grid-template-columns: 30% 30% 30%; */
    /* justify-content: space-between; */
    /* margin-bottom: 20px; */
}

.heroes-img {
    width: 100%;
    height: 155px;
    cursor: pointer;
    margin-bottom: 10px;
}

.heroes-header {
    font-size: 1.2em;
    color: black;
    line-height: 1.2em;
}

.heroes-header:hover {
    color: black;
    text-decoration: none;
}

.heroes-text {
    margin: 10px 0;
    font-size: 15px;
    color: rgba(51, 51, 51, 0.507);
}

.more-stories-art {
    display: flex;
    border-top: 0.5px solid rgba(51, 51, 51, 0.239);
    align-items: flex-start;
    padding-top: 15px;
}

.more-stories-img {
    /* flex: 1.1;
    width: 100%;
    height: 90%; */
    cursor: pointer;
}

.more-stories-right {
    flex: 5;
    display: flex;
    padding: 0;
    flex-direction: column;
    margin-left: 15px;
}

.more-stories-header {
    padding: 0;
    margin: 0 0 5px;
    font-weight: bold;
    font-size: 0.9em;
    color: black;
}

.more-stories-header:hover {
    color: black;
    text-decoration: underline 1px solid #f72210;
}

.more-stories-text {
    font-size: 0.8em;
}


.aside-art {
    /* display: flex; */
    border-bottom: 0.5px solid rgba(51, 51, 51, 0.239);
    /* align-items: flex-start; */
    margin-top: 10px;
}

.aside-art-img {
    /* flex: 1.1; */
    cursor: pointer;
}

.aside-art-right {
    flex: 5;
    display: flex;
    padding: 0;
    flex-direction: column;
    margin-left: 15px;
}

.aside-art-title {
    padding: 0;
    margin: 0 0 5px;
    font-weight: bold;
    font-size: 1em;
    color: black;
    line-height: 1.2em;
    font-size: 1em;
}

.aside-art-title:hover {
    color: #f72210;
    text-decoration: none;
}

.aside-art-auth {
    color: rgba(51, 51, 51, 0.747);
    font-weight: bold;
    margin: 0 0 5px;
    font-size: 0.8em;
}

.aside-art-last {
    border: none;
}

.the-debate {
    margin-top: 40px;
}

.the-debate-art {
    display: flex;  
    align-items: center;
    border-top: 4px solid #f72210;
    padding-top: 1px;
    margin-bottom: 10px;
}

.the-debate-img{
    /* flex: 1; */
}

.the-debate-right {
    flex: 3;    
    margin-left: 15px;
}

.the-debate-title {
    color: black;
    font-weight: bold;
    font-size: 0.9em;
}

.the-debate-title:hover {
    color: black;
    text-decoration: none;
}

.the-debate-auth {
    padding-top: 5px;
    border-top: 4px double rgba(51, 51, 51, 0.445);
    text-transform: uppercase;
    font-size: 0.8em;
}

.the-debate-auth span {
    font-weight: bold;
}

.versus {
    display: flex;
    justify-content: center;
    align-items: center;
}

.versus p{
    background: black;
    color: white;
    width: max-content;
    padding: 9px;
    border-radius: 50%;
}

.my-second-debate {
    margin-top: 5px;
    border-top: 4px solid #1c87fb;
}

.magazine-cover {
    background: #f72210;
    padding: 2px 10px;
    color: white;
    font-weight: bold;
}

.magazine-img {

}

.magazine-header {
    line-height: 0;
}

.magazine-art-middle a {    
    color: #f72210;
    font-weight: bold;
}
